Repository react-native-elements/react-native-elements, pull requests merged in 2019-11, with the labels that each got.

#2171 allow `marginHorizontal` and `marginVertical` for ButtonGroup
  src/buttons/ButtonGroup.js
  src/buttons/__tests__/__snapshots__/ButtonGroup.js.snap
  src/list/ListItem.js
Labels: 💊 Bug Fix

#2176 change inputComponent to InputComponent
  docs/input.md
  src/index.d.ts
  src/input/Input.js
  src/input/__tests__/Input.js
Labels: ✨Enhancement

#2186 Remove trailing semi-colon
  docs/divider.md
Labels: :book: Docs

#2187 docs(ListItem): Add TouchableHighlight props message (#2174)
  docs/listitem.md
  website/versioned_docs/version-1.2.0/listitem.md
Labels: :book: Docs
